{%- extends "base.html" %}{% import "bootstrap/wtf.html" as wtf %} {% import
"bootstrap/utils.html" as utils %} {% block content %}
<div class="container">
  {%- with messages = get_flashed_messages(with_categories=True) %} {%- if
  messages %}
  <div class="row">
    <div class="col-md-12">{{utils.flashed_messages(messages)}}</div>
  </div>
  {%- endif %} {%- endwith %}
  <div class="jumbotron">
    <h1></h1>
    <p></p>
    <div class="dashboard">
      <!-- <div class="card-deck">
           -->
      <div class="row row-cols-1 row-cols-md-3">
        {% for org in orgs %}
        <div class="col mb-4">
          <div class="card text-white bg-info mb-3" style="max-width: 18rem">
            <div class="card-header title">{{org.upper()}}</div>
            <div class="card-body">
              <div>
                <form
                  action=""
                  method="post"
                  enctype="multipart/form-data"
                  class="needs-validation"
                  novalidate
                >
                  {{ form.hidden_tag() }}
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-6">
                        {{ wtf.form_field(form.year, class='form-control',
                        placeholder='year') }}
                      </div>
                      <div class="col-md-6">
                        {{ wtf.form_field(form.submit, class="btn
                        btn-secondary") }}
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div>
                <div>
                  <a
                    type="button"
                    class="btn btn-secondary btn-block"
                    href="{{ url_for('public.run_update', org_id=org, upd_type='all') }}"
                  >
                    all
                  </a>
                </div>
                <div class="btns-update">
                  <a
                    type="button"
                    class="btn btn-secondary"
                    href="{{ url_for('public.run_update', org_id=org, upd_type='champs') }}"
                  >
                    champs
                  </a>
                  <a
                    type="button"
                    class="btn btn-secondary"
                    href="{{ url_for('public.run_update', org_id=org, upd_type='events') }}"
                  >
                    events
                  </a>
                  <a
                    type="button"
                    class="btn btn-secondary"
                    href="{{ url_for('public.run_update', org_id=org, upd_type='drivers') }}"
                  >
                    drivers
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{%- endblock %}
